<h2>Gerenciar Clientes</h2>


<ul>
    <li *ngFor="let cliente of listaClientes">
        <span (click)="selecionar(cliente)">{{cliente.nome}} - {{cliente.cpf}}</span>
        <span (click)="excluir(cliente.id)"> x</span>
    </li>
</ul>

<hr>

<div>
    <button (click)="novo()">Novo</button>
</div>

<div *ngIf="cliente">
    <input type="text" placeholder="Nome" [(ngModel)]="cliente.nome">
    <input type="text" placeholder="CPF" [(ngModel)]="cliente.cpf">

    <div>

        <button (click)="salvar()">SALVAR</button>
        <button (click)="cancelar()">CANCELAR</button>

    </div>
</div>