<h2>SELECIONE O EXERCÍCIO</h2>
<select name="" id="" [(ngModel)]="exe">
  <option value="ex1">EXERCÍCIO 1</option>
  <option value="ex2">EXERCÍCIO 2</option>
  <option value="ex3">EXERCÍCIO 3</option>
  <option value="ex4">EXERCÍCIO 4</option>
  <option value="ex5">EXERCÍCIO 5</option>
  <option value="ex6">EXERCÍCIO 6</option>
  <option value="ex7">EXERCÍCIO 7</option>
</select>

<app-exemplo-ngif> </app-exemplo-ngif>
<app-exemplo-ng-for></app-exemplo-ng-for>

<div [ngSwitch]="exe">

    <app-ex1 *ngSwitchCase="'ex1'"></app-ex1>
    <app-ex2 *ngSwitchCase="'ex2'"></app-ex2>
    <app-ex3 *ngSwitchCase="'ex3'"></app-ex3>

    <app-ng-for-ex1 *ngSwitchCase="'ex4'"></app-ng-for-ex1>
    <app-ng-for-ex2 *ngSwitchCase="'ex5'"></app-ng-for-ex2>
    <app-ex6 *ngSwitchCase="'ex6'"></app-ex6>
    <app-ex7 *ngSwitchCase="'ex7'"></app-ex7>
</div>
