<h1>Exercício Extra 10</h1>

<div class="valor1">
    <div>
        <button (click)="atribuirValor1('1');">1</button>
        <button (click)="atribuirValor1('2');">2</button>
        <button (click)="atribuirValor1('3');">3</button>
    </div>
    <div>
        <button (click)="atribuirValor1('4');">4</button>
        <button (click)="atribuirValor1('5');">5</button>
        <button (click)="atribuirValor1('6');">6</button>
    </div>
    <div>
        <button (click)="atribuirValor1('7');">7</button>
        <button (click)="atribuirValor1('8');">8</button>
        <button (click)="atribuirValor1('9');">9</button>
    </div>
    <div>
        <button (click)="atribuirValor1('0');">0</button>
        <button>Limpar</button>
    </div>
</div>

{{valor1}}

<div class="valor2">
    <div>
        <button (click)="atribuirValor2('1');">1</button>
        <button (click)="atribuirValor2('2');">2</button>
        <button (click)="atribuirValor2('3');">3</button>
    </div>
    <div>
        <button (click)="atribuirValor2('4');">4</button>
        <button (click)="atribuirValor2('5');">5</button>
        <button (click)="atribuirValor2('6');">6</button>
    </div>
    <div>
        <button (click)="atribuirValor2('7');">7</button>
        <button (click)="atribuirValor2('8');">8</button>
        <button (click)="atribuirValor2('9');">9</button>
    </div>
    <div>
        <button (click)="atribuirValor2('0');">0</button>
        <button>Limpar</button>
    </div>
</div>

{{valor2}}

<div>
    <button (click)="somar();">Somar</button>
    <button (click)="subtrair();">Subtrair</button>
    <button (click)="multiplicar();">Multiplicar</button>
    <button (click)="dividir();">Dividir</button>
</div>

{{resultado}}